.ProductCard {
	position: relative;
	width: 100%;
	padding: 20px;
	border: 2px solid teal;
	background: rgba(41, 153, 173, 0.45);
	border-radius: 20px;
}

.editBtn {
	position: absolute;
	right: 5px;
	top: 5px;
}

.productTitle {
	font-size: 28px;
	font-weight: bold;
	margin: 0;
	color: var(--primary-color);
}

.productDescription {
	font-size: 22px;
	margin: 0;
	color: var(--primary-color);
}

.image {
	width: 150px;
	height: 150px;
	border-radius: 20%;
}

